body {
        font-family: "Sono", sans-serif;
      }
      .pricing-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 2rem;
      }
      .plan-title{
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
      }
      .plan-price{
        font-weight: bold;
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 20px;
      }
      .pricing-plan{
        background-color: #f2f2f2;
        text-align: center;
        width: 350px;
        height: 320px;
        padding: 20px;
        border-radius: 20px;
      }
      ul{
        list-style-type: none;
        padding-bottom: 20px; 
      }
      button{
        background-color: orangered;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 0.15s;
        padding: 10px;
      }
      li{
        padding: 7.5px;
      }
      .plan-feature{
        padding: 15px;
      }
      
      button:hover{
        opacity: 0.5;
      }
      button:active{
        opacity: 0.25;
      }
       @media (max-width: 1250px) {
      .pricing-container {
        flex-direction: column;
        height: 100%;
      }
    }
